@using BlazorStrap
@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

@code
{
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCss.SetBootstrapCss("4.3.1");
        await base.OnInitializedAsync();
    }

    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
    }
}

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <nav>
                    <MatIconButton Icon="menu" OnClick="ButtonClicked" />
                </nav>
                <MatAppBarTitle>SHSUSAC 10k</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <picture>
                    <source type="image/avif" srcset="img/race-logo/race-logo.avif">
                    <source type="image/webp" srcset="img/race-logo/race-logo.webp">
                    <img width="125" style="margin-top: 20px;" src="img/race-logo/race-logo.png" alt="The SHSUSAC Virtual 10k logo">
                </picture>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer Style="height: 100vh; position: fixed;">
            <MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up">
                <ChildContent>
                    @{/*This drawer is used when the screen is bigger numpty!*/}
                    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                        <nav>
                            <MatList>
                                <MatButton Link="/">
                                    <MatIcon Icon="@MatIconNames.Home" />&#160;Home
                                </MatButton>
                                <MatListDivider />
                                <NavMenu />
                            </MatList>
                        </nav>
                    </MatDrawer>
                </ChildContent>

                <ElseContent>
                    <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Dismissible">
                        <nav>
                            <MatList>
                                <MatListItem>
                                    <MatButton Link="/">
                                        <MatIcon Icon="@MatIconNames.Home" />&#160;Home
                                    </MatButton>
                                </MatListItem>
                                <MatListDivider />
                                <NavMenu />
                            </MatList>
                        </nav>
                    </MatDrawer>
                </ElseContent>
            </MatHidden>

            <MatDrawerContent>
                <div>
                    <main style="margin-left: 10px; width: 100vw;">
                        @Body
                    </main>
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>