@using BlazorStrap
@inherits LayoutComponentBase
@inject IBootstrapCss BootstrapCss

@code
{
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCss.SetBootstrapCss("4.3.1");
        await base.OnInitializedAsync();
    }

    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

    void CloseMenu()
    {
        Opened = false;
    }
}
<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <nav>
                    <MatIconButton Icon="menu" OnClick="ButtonClicked" />
                </nav>
                <MatAppBarTitle>SHSUSAC 10k</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <picture>
                    <source type="image/avif" sizes="(max-width: 1400px) 100vw, 1400px"
                            srcset="
                                img/race-logo/avif/race-logo_c8swa5_c_scale_w_200.avif 200w,
                                img/race-logo/avif/race-logo_c8swa5_c_scale_w_1020.avif 1020w,
                                img/race-logo/avif/race-logo_c8swa5_c_scale_w_1400.avif 1400w,
                                img/race-logo/avif/race-logo_c8swa5_c_scale_w_1400.avif" />
                    <source type="image/webp" sizes="(max-width: 1400px) 100vw, 1400px"
                            srcset="
                                img/race-logo/webp/race-logo/race-logo_alau3b_c_scale_w_200.webp 200w,
                                img/race-logo/webp/race-logo_alau3b_c_scale_w_667.webp 667w,
                                img/race-logo/webp/race-logo_alau3b_c_scale_w_1026.webp 1026w,
                                img/race-logo/webp/race-logo_alau3b_c_scale_w_1327.webp 1327w,
                                img/race-logo/webp/race-logo_alau3b_c_scale_w_1400.webp 1400w,
                                img/race-logo/webp/race-logo_alau3b_c_scale_w_1400.webp" />
                    <img width="125" style="margin-top: 20px;"
                         sizes="(max-width: 1400px) 100vw, 1400px"
                         srcset="
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_200.png 200w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_358.png 358w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_488.png 488w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_599.png 599w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_702.png 702w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_805.png 805w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_893.png 893w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_980.png 980w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_1064.png 1064w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_1140.png 1140w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_1218.png 1218w,
                            img/race-logo/png/race-logo_wheeu2_c_scale_w_1400.png 1400w"
                         src="img/race-logo/png/race-logo_wheeu2_c_scale_w_1400.png"
                         alt="The SHSUSAC Virtual 10k logo">
                </picture>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer @onclick="@CloseMenu">
            @*<MatHidden Breakpoint="@MatBreakpoint.SM" Direction="@MatHiddenDirection.Up">
                    <ChildContent>
                        @{/*This drawer is used when the screen is bigger numpty!*/}
                        <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal" Style="height: 100vh; position: fixed;">
                            <nav>
                                <MatList>
                                    <MatButton Link="/">
                                        <MatIcon Icon="@MatIconNames.Home" />&#160;Home
                                    </MatButton>
                                    <MatListDivider />
                                    <NavMenu />
                                </MatList>
                            </nav>
                        </MatDrawer>
                    </ChildContent>

                    <ElseContent>
                        <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Dismissible">
                            <nav>
                                <MatList>
                                    <MatListItem>
                                        <MatButton Link="/">
                                            <MatIcon Icon="@MatIconNames.Home" />&#160;Home
                                        </MatButton>
                                    </MatListItem>
                                    <MatListDivider />
                                    <NavMenu />
                                </MatList>
                            </nav>
                        </MatDrawer>
                    </ElseContent>
                </MatHidden>*@

            <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                <nav>
                    <MatList>
                        <MatListItem>
                            <MatButton Link="/">
                                <MatIcon Icon="@MatIconNames.Home" />&#160;Home
                            </MatButton>
                        </MatListItem>
                        <MatListDivider />
                        <NavMenu />
                    </MatList>
                </nav>
            </MatDrawer>

            <MatDrawerContent Style="height: initial; position: initial;">
                <div>
                    <main style="margin-left: 10px; min-height: 90vh">
                        @Body
                    </main>
                    <footer class="mat-elevation-z1" style="background-color: #4fb7b6; padding-left: 10px; padding-top: 5px;">
                        <div class="mat-layout-grid" style="padding: 0px">
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell">
                                    <MatBody2>&copy; Vespion Softworks; SHSUSAC - 2020</MatBody2>
                                </div>
                                <div class="mat-layout-grid-cell">
                                    <MatAnchorLink href="/privacy">Privacy Policy</MatAnchorLink>
                                </div>
                            </div>
                        </div>
                    </footer>
                    @* ReSharper disable once CssNotResolved *@
                    <!--<footer class="mdc-top-app-bar__row" style="background-color: var(--mdc-theme-primary, #6200ee); flex-direction: column; justify-content: space-between">
                    </footer>-->
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>